<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-end">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div
                    class="h-100 p-5 text-white bg-primary border rounded-3">
                    <h2>Gracias por haber participado!!</h2>
                    <a href="/">
                        <button class="btn btn-outline-primary" type="button">volver a pagina de inicio</button>
                    </a>
                
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>

    </div>
   
</body>
</html>