<!doctype html>
<html lang="es">

<head>
  <title>Propuesta de Proyectos para Municipios y Comunas</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:image" content="https://www.desarrolladorsarmientino.com/static/imagenes/logonew-app-black.jpeg">
  <meta property="og:title" content="Propuesta de Proyecto para Instituciones Públicas">
  <meta property="og:description" content="El Principal Objetivo de este Proyecto es optimizar los procesos Institucionales Internos; hacer crecer los beneficios institucionales de manera general, innovar y mejorar las herramientas de trabajo, brindar un servicio de mejor calidad, darle prestigio a la institución, y liderar un cambio en la economía a nivel social.">
  <meta property="og:url" content="http://www.desarrolladorsarmientino.com/proyecto_municipal">
  <meta name="robots" content="index, follow">
  <meta property="og:type" content="website">
  <link rel="website icon" type="png" href="/static/imagenes/logonew-app.png">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body class="cuerpo" style="background-color: rgb(255, 206, 154);">
  <header>
    <ul class="nav nav-tabs">
        <li class="nav-item" style="font-family: Helvetica; color: black;">
          <a class="nav-link" style="color: black;" aria-current="page" href="/propuestas_de_proyectos"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg> Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-family: Helvetica; color: black;" href="/serv">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-family: Helvetica; color: black;" href="/perfil">Sobre el Autor</a>
        </li>
      </ul>
  </header>
  <main>
      <div class="container">
          <div class="row">
              <div class="col-md-3 py-5" style="background-color: rgb(250, 250, 250);">
                <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link text-start" href="#item-1">Proyecto</a>
                    <nav class="nav nav-pills flex-column">
                      <a class="nav-link" href="#item-1-1">Primera sección: “Estructura, Alcance, y Objetivos de este proyecto”</a>
                    </nav>
                    <a class="nav-link" href="#item-2">Segunda sección: “Sistema de trabajo”</a>
                    <nav class="nav nav-pills flex-column">
                      <a class="nav-link ms-3 my-1" href="#item-2-1">Parte 1: Sistema y mantenimiento de alumbrado publico</a>
                      <a class="nav-link ms-3 my-1" href="#item-2-2">Parte 2: Mantenimiento de calles y veredas</a>
                      <a class="nav-link ms-3 my-1" href="#item-2-3">Parte 3: Mantenimiento de espacios y edificios públicos</a>
                      <a class="nav-link ms-3 my-1" href="#item-2-4">Parte 4: Mantenimiento y parquización de espacios verdes</a>
                      <a class="nav-link ms-3 my-1" href="#item-2-5">Parte 5: Red de distribución de agua potable</a>
                      <a class="nav-link ms-3 my-1" href="#item-2-6">Parte 6: Sistema de recolección de residuos</a>
                    </nav>

                    <a class="nav-link" href="#item-3">Tercera sección: Sistema de seguridad</a>
                    <a class="nav-link" href="#item-4">Cuarta sección: Documentación</a>
                    <a class="nav-link" href="#item-5">Quinta sección: Programa de Capacitación del Personal</a>
                  </nav>
                </nav>
              </div>            
              <div class="col-md-9 py-1">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                  <div id="item-1">
                    <h2 style="font-style: italic;">Primera sección: “Estructura, Alcance, y Objetivos de este proyecto”</h2>
                    <p style="font-family: Helvetica;"><b>1. Descripción general:</b> La estructura y bases de este proyecto establecen, un sistema de Optimización con gran capacidad de Reducción de costos, y Ampliación de beneficios englobados a nivel institucional. A partir, de un sistema de trabajo ordenado y preestablecido, que busque dar soluciones eficientes y con alta capacidad de respuesta a las tareas y procesos que se llevan cabo dentro, y fuera del ámbito institucional.</p>
                    <p style="font-family: Helvetica;"><b>2. Integración del Proyecto:</b> Es muy importante para este proyecto, que las partes involucradas asuman gran responsabilidad, y sobre todo, una profunda comprensión sobre el funcionamiento de este sistema de trabajo, esta cualidad es muy necesaria para garantizar el correcto funcionamiento de cada área de la institución. La planificación y estrategia son dos elementos cruciales para la correcta integración de este sistema de trabajo. Para ello, cada uno de los integrante de los equipos de trabajo, y responsables de cada área que representa la institución, debe mantener un enfoque holístico que permita un entendimiento preciso y elocuente sobre como funcionan las secciones de este sistema de trabajo y la estrecha relación que guardan cada una de las secciones de este proyecto.</p>
                    <p style="font-family: Helvetica;"><b>3. Alcance y Objetivos:</b> Este proyecto tiene fecha de inicio pero no de caducidad. Las partes tienen que asumir un gran compromiso y estar preparados con mucha antelación al iniciar el proceso. Los responsable de las distintas área tiene que documentar cada situación que surja, ya sea que el proceso muestra signos positivos de adopción, como así también contratiempos. Este sistema de trabajo comprende un flujo continuo de aprendizaje, es muy importante analizar cada detalle y si es necesario ajustar parámetros en la medida en que esto sea necesario.</p>
                    <p style="font-family: Helvetica;"><b>El principal objetivo de este “sistema de trabajo” es optimizar los procesos; hacer crecer los beneficios institucionales de manera general, innovar y mejorar las herramientas de trabajo, brindar un servicio de mejor calidad, darle prestigio a la institución, y liderar un cambio en la economía a nivel social.</b></p>
                  </div>
                  <hr>
                  <br/>
                  <div id="item-2">
                    <h3 style="font-style: italic;">Segunda sección: “Sistema de trabajo”</h3>
                    <h4 style="font-style: italic;">Introducción: Exploración del sistema de trabajo</h4>
                    <p style="font-family: Helvetica">En esta sección, se presenta en detalle el corazón de la propuesta: el sistema de trabajo innovador, dinámico y versátil diseñado para abordar las diversas áreas de responsabilidad de la institución. Cada parte de esta sección se enfoca en un componente específico del sistema de trabajo, detallando cómo se implementarán los cambios y cómo estos contribuirán a la optimización y mejora en cada área. A continuación, se presenta un desglose de las partes clave que serán abordadas: </p>
                    <br/>
                    <div id="item-2-1">
                      <h5 style="font-style: italic;">Parte 1: Sistema y mantenimiento de alumbrado publico</h5>
                    <li style="font-family: Helvetica;">Optimización y mejoras en las operaciones de mantenimiento y servicio del sistema energético.</li>
                    <li style="font-family: Helvetica;">Recolección de información y relevamiento de todo el sistema para comprender las necesidades e inconsistencias del servicios.</li>
                    <li style="font-family: Helvetica;">Plan de auditoria para evaluar los recursos y herramientas disponibles.</li>
                    <li style="font-family: Helvetica;">Establecer un sistema monolítico para mejorar el despliegue del servicio de manera sencilla y desarrollar una estrategia de reducción de costos energéticos. </li>
                    <li style="font-family: Helvetica;"></li>
                    </div>
                    <br/>
                    <div id="item-2-2">
                      <h5 style="font-style: italic;">Parte 2: Mantenimiento de calles y veredas</h5>
                    <li style="font-family: Helvetica;">Estructurar un programa de trabajo y auditar las herramientas disponibles para realizar esta tarea.</li>
                    <li style="font-family: Helvetica;">Segmentar por sectores el mantenimiento para evitar interrupciones y mejorar la experiencia en la circulación de la ciudadanía.</li>
                    <li style="font-family: Helvetica;">Agilizar la planificación y ejecución de los trabajos de mantenimiento para reducir costos operativos.</li>
                    <li style="font-family: Helvetica;">Trabajar de manera conjunta a un calendario para estar correctamente sincronizado a cualquier importante evento.</li>
                    </div>                    
                    <br/>
                    <div id="item-2-3">
                      <h5 style="font-style: italic;">Parte 3: Mantenimiento de espacios y edificios públicos</h5>
                    <li style="font-family: Helvetica;">Crear un grupo de trabajo especializado que se desempeñe en esta actividad.</li>
                    <li style="font-family: Helvetica;">Establecer un esquema de trabajo bien definido.</li>
                    <li style="font-family: Helvetica;">Inspeccionar los edificios y tomar nota de cada detalle para adelantarse a cualquier trabajo que se necesite realizar a futuro y así mitigar costos innecesarios.</li>
                    <li style="font-family: Helvetica;">Evaluar las herramientas y recursos disponible para realizar estas actividades de trabajo.</li>
                    <li style="font-family: Helvetica;"></li>
                    </div>
                    <br/>
                    <div id="item-2-4">
                      <h5 style="font-style: italic;">Parte 4: Mantenimiento y parquización de espacios verdes</h5>
                      <li style="font-family: Helvetica;">Seleccionar personal capacitado en el mantenimiento de los espacio verdes.</li>
                      <li style="font-family: Helvetica;">Crear un circuito de trabajo cíclico.</li>
                      <li style="font-family: Helvetica;">Seleccionar los recursos y herramientas necesarias para realizar las tareas de mantenimiento.</li>
                      <li style="font-family: Helvetica;">Fijar las fechas de poda para que el equipo de trabajo y las herramientas se encuentren en optimas condiciones.</li>
                      <li style="font-family: Helvetica;">Instruir al personal para que pueda identificar las especies y poder avanzar de manera adecuada en la actividad de plantar, trasplantar, o podar la vegetación.</li>
                    </div>
                    <br/>
                    <div id="item-2-5">
                      <h5 style="font-style: italic;">Parte 5: Red de distribución de agua potable</h5>
                    <li style="font-family: Helvetica;">Diseñar un sistema de trabajo especializado y controlar las herramientas disponibles.</li>
                    <li style="font-family: Helvetica;">Definir un sistema de distribución de agua coherente.</li>
                    <li style="font-family: Helvetica;">Realizar un relevamiento del sistema de agua para evaluar las condiciones en las que se encuentra.</li>
                    <li style="font-family: Helvetica;">Definir un plan estratégico para que el personal acuda de manera eficiente y ordenada a cualquier situación de falla en la red, y minimizar las interrupciones en el suministro.</li>
                    <li style="font-family: Helvetica;">Contar con un plano concreto del circuito para saber bien como y que lugar se esta trabajando.</li>
                    </div>
                    <br/>
                    <div id="item-2-6">
                    <h5 style="font-style: italic;">Parte 6: Sistema de recolección de residuos</h5>
                    <li style="font-family: Helvetica;">Seccionar las áreas y circuitos del servicio a partir de información.</li>
                    <li style="font-family: Helvetica;">Evaluar las condiciones de las herramientas y recursos para este trabajo.</li>
                    <li style="font-family: Helvetica;">Definir un Horario especializado.</li>
                    <li style="font-family: Helvetica;">Integrar un plan de seguridad a esta actividad.</li>
                    <br/>
                    <p style="font-family: Helvetica;">* Los procesos mencionados deben ser “todos documentados”. Y a posterior, analizados en busca de inconsistencias. En la parte final se desarrollara con mas detalles el proceso de Documentación y sus beneficios.</p>
                    </div>
                  </div>
                  <hr>
                  <br/>

                  <div id="item-3">
                    <h3 style="font-style: italic;">Tercera sección: Sistema de seguridad</h3>
                    <p style="font-family: Helvetica;">En nuestro enfoque hacia la creación de un sistema de trabajo optimizado, la seguridad se alza como un pilar fundamental que permea cada aspecto de nuestras actividades. Reconocemos que para alcanzar un éxito duradero y contribuir positivamente a nuestra comunidad, es esencial garantizar la integridad de nuestros colaboradores, los ciudadanos y el entorno en el que operamos. La seguridad, en su más amplio sentido, se convierte en el fundamento sobre el cual construimos este “sistema de trabajo” innovador y dinámico. </p>
                    <br/>
                    <h5 style="font-style: italic;">Integración de la Seguridad en Todas las Actividades</h5>
                    <p style="font-family: Helvetica;">Nuestra visión de seguridad va más allá de cumplir con reglamentos y protocolos. La seguridad es un principio que se integra en el corazón de cada tarea, en cada etapa del proceso. Desde los responsables de áreas hasta los empleados, todos tienen un rol en la protección de la salud y el bienestar de nuestra comunidad. Esta integración no solo previene riesgos y accidentes, sino que también garantiza la continuidad de nuestras operaciones y la confianza que los ciudadanos depositan en nosotros.</p>
                    <br/>
                    <h5 style="font-style: italic;">Conciencia y Responsabilidad en la Ejecución de Tareas</h5>
                    <p style="font-family: Helvetica;">Entendemos que la seguridad no puede imponerse, sino que debe ser internalizada. Promoveremos la educación y la conciencia sobre la seguridad a todos los niveles. Cada individuo debe ser consciente de su papel en la creación de un entorno seguro y saludable. Desde la correcta manipulación de materiales hasta la conducta en espacios públicos, cada acto responsable contribuye a la seguridad colectiva y al éxito general del sistema.</p>
                    <br/>
                    <h5 style="font-style: italic;">Entornos Poblados y Riesgos Asociados</h5>
                    <p style="font-family: Helvetica;">Operar en un entorno poblado presenta desafíos únicos. Entendemos que nuestras actividades deben ser realizadas de manera que minimicen la interrupción y el riesgo para los ciudadanos. La seguridad de nuestras acciones se traduce en la confianza y el respeto mutuo con nuestra comunidad. Nuestro compromiso con la seguridad significa que siempre consideramos cómo nuestras operaciones pueden beneficiar a los ciudadanos sin comprometer su bienestar.</p>
                    <br/>
                    <h5 style="font-style: italic;">Colaboración con Instituciones de Salud</h5>
                    <p style="font-family: Helvetica;">Un aspecto vital de la seguridad en nuestro sistema de trabajo es la colaboración con las instituciones de salud. Reconocemos la importancia de brindar información detallada sobre nuestras operaciones diarias para que puedan responder eficazmente en caso de emergencia. Al compartir esta información, contribuimos a una red de respuesta sólida que beneficia a toda la comunidad en momentos críticos.</p>
                    <br/>
                    <h5 style="font-style: italic;">Beneficios de la Cultura de la Seguridad</h5>
                    <p style="font-family: Helvetica;">La promoción de una cultura de seguridad no solo previene accidentes, sino que también mejora nuestra eficiencia y la confianza de los ciudadanos en nuestra labor. Una comunidad que se siente segura con nuestras operaciones es una comunidad que está dispuesta a colaborar y apoyar nuestro “sistema de trabajo”. La seguridad es un componente esencial en la construcción de una base sólida para el éxito sostenible de este proyecto.</p>
                    <br/> 
                    <h5 style="font-style: italic;">Conclusiones</h5>
                    <p style="font-family: Helvetica;">A medida que avanzamos en la implementación de este sistema de trabajo, recordamos que la seguridad no es un accesorio, sino el cimiento sobre el cual edificamos nuestras acciones y aspiraciones. La seguridad es el puente que une nuestras actividades con el bienestar de la comunidad, y su importancia trasciende cada detalle de nuestro sistema.</p>
                  </div>

                  <br/>
                  <hr>

                  <div id="item-4">
                    <h3 style="font-style: italic;">Cuarta sección: Documentación</h3>
                    <p style="font-family: Helvetica;"><b>En la búsqueda de un sistema de trabajo optimizado y eficiente, la documentación se erige como un pilar fundamental que sostiene cada paso de nuestras operaciones. Reconocemos la importancia de registrar y documentar meticulosamente cada trabajo, tarea y proceso llevado a cabo en este sistema. La documentación no solo es un registro pasivo, sino una herramienta activa que impulsa la eficacia, la transparencia y el crecimiento sostenible de este proyecto. </b></p>
                    <br/>
                    <h5 style="font-style: italic;">Importancia de la Documentación en la Operación Eficiente</h5>
                    <p style="font-family: Helvetica;">La documentación precisa y completa es esencial para mantener un registro detallado de todas las actividades y procesos en nuestro sistema de trabajo. Cada trabajo, desde la recolección de residuos hasta el mantenimiento de espacios públicos, dejará una huella documentada que será esencial para evaluar la eficiencia y la efectividad de nuestras operaciones.</p>
                    <br/>
                    <h5 style="font-style: italic;">Características de la Documentación</h5>
                    <p style="font-family: Helvetica;">La documentación que generaremos será exhaustiva y detallada, abarcando cada etapa de los trabajos y tareas. Cada registro será fechado, identificando los involucrados, las acciones tomadas y los resultados obtenidos. Esta documentación no solo servirá como archivo histórico, sino como una herramienta de referencia activa para la toma de decisiones. </p>
                    <h6 style="font-style: italic;">Funcionalidades de la Documentación:</h6>
                    <li style="font-family: Helvetica;"><b>Registro de Actividades:</b> Documentaremos cada actividad y proceso, brindando una vista completa de cómo se llevan a cabo nuestras operaciones diarias.</li>
                    <li style="font-family: Helvetica;"><b>Seguimiento del Progreso:</b> La documentación permitirá un seguimiento claro del progreso de los proyectos y las tareas, identificando áreas de mejora.</li>
                    <li style="font-family: Helvetica;"><b>Identificación de Problemas:</b> La documentación nos ayudará a identificar problemas y desafíos en tiempo real, permitiéndonos tomar medidas correctivas de manera eficiente.</li>
                    <br/>
                    <h5 style="font-style: italic;"> Formato de las fichas donde se recolectara la información:</h5>
                    <p style="font-family: Helvetica;"><b>OT (orden de trabajo)</b> en esta orden, el responsable a cargo de realizar la actividad deberá llenar la planilla con toda la información necesaria (día y fecha de la actividad, descripción de la tarea a realizar, detalles de las herramientas que se van a utilizar para desarrollar el trabajo, Horario de inicio y finalización de la tarea, y los datos del responsable a cargo)</p>
                    <p style="font-family: Helvetica;"><b>OAC (orden de abastecimiento de combustibles)</b> esta orden básicamente comparte el formato de la anterior, a diferencia de que en la descripción, se deberá especificar (el vehículo o la herramienta que requiere de combustible, y los datos del responsable a cargo de la tarea)</p>
                    <br/>
                    <p style="font-family: Helvetica;"><b>NOTA:</b> Ambas ordenes serán entregadas a los responsables de la área correspondiente al finalizar la tarea.</p>
                    <br/>
                    <p style="font-family: Helvetica;"><b>NOTA:</b> Las planillas contaran con todos los datos necesarios, contacto del responsable de área, y teléfonos de asistencia medica ante cualquier situación que se presentase durante la realización de los trabajos.</p>
                    <h6 style="font-style: italic;">Beneficios de Documentar Cada Trabajo, Tarea y Proceso:</h6>
                    <li style="font-family: Helvetica;"><b>Toma de Decisiones Informadas:</b> La documentación proporcionará datos fiables para tomar decisiones informadas y estratégicas.</li>
                    <li style="font-family: Helvetica;"><b>Mejora Continua:</b> Al revisar la documentación, identificaremos oportunidades para mejorar procesos y aumentar la eficiencia.</li>
                    <li style="font-family: Helvetica;"><b>Transparencia y Confianza:</b> La disponibilidad de información transparente fomentará la confianza de la comunidad en nuestras operaciones.</li>
                    <li style="font-family: Helvetica;"><b>Respuesta Rápida:</b>La documentación permitirá una respuesta más rápida ante situaciones inesperadas o emergencias.</li>
                    <p style="font-family: Helvetica;"><b>Casos de Uso:</b> Imagina cómo, con la documentación adecuada, pudimos identificar rápidamente un problema en la red de distribución de agua potable y tomar medidas correctivas antes de que se convirtiera en una crisis. Visualiza cómo la documentación también permite una evaluación detallada de las mejoras en la recolección de residuos y cómo estas mejoras benefician a la comunidad.</p>
                    <p style="font-family: Helvetica;">La documentación no es simplemente una formalidad, sino una herramienta poderosa que garantiza que nuestros esfuerzos tengan un impacto significativo y duradero. A medida que avanzamos en la implementación de este sistema de trabajo, valoramos la documentación como un compañero esencial en nuestra búsqueda de optimización y mejora continua. </p>
                  </div>
                  <br/>
                  <hr>
                  <div id="item-5">
                    <h3 style="font-style: italic;">Quinta sección: Programa de Capacitación del Personal</h3>
                    <h4 style="font-style: italic;">La Importancia de un Programa de Capacitación para el Éxito del Proyecto</h4>
                    <p style="font-family: Helvetica;">En la búsqueda de optimizar nuestro sistema de trabajo y lograr un impacto duradero en nuestra comunidad, reconocemos que uno de los pilares fundamentales es el factor humano. Los individuos que conforman nuestros equipos de trabajo son esenciales para llevar a cabo cada tarea y proceso de manera efectiva y segura. Por esta razón, es de vital importancia establecer un sólido programa de capacitación para cada una de las áreas que abordamos en este proyecto.</p>
                    <h5 style="font-style: italic;">El Valor de la Capacitación Especializada</h5>
                    <p style="font-family: Helvetica;">Cada área de nuestro sistema de trabajo posee características únicas y requerimientos específicos. La capacitación especializada garantiza que cada miembro del equipo esté plenamente informado y preparado para abordar los desafíos inherentes a su función. La capacitación no solo es una inversión en habilidades, sino en la confianza y profesionalismo del personal. </p>
                    <h5 style="font-style: italic;">Adaptación a Nuevas Metodologías</h5>
                    <p style="font-family: Helvetica;">En un mundo en constante evolución, nuestras operaciones también deben adaptarse y mejorar continuamente. Un programa de capacitación permite a nuestro personal estar al tanto de las últimas metodologías, tecnologías y prácticas recomendadas en sus respectivas áreas. Esto asegura que estemos siempre en la vanguardia de la eficiencia y la innovación.</p>
                    <h5 style="font-style: italic;">Mejora de la Eficiencia y la Seguridad</h5>
                    <p style="font-family: Helvetica;">La capacitación adecuada lleva a una ejecución más eficiente de las tareas y una mayor seguridad en su realización. El personal capacitado entiende los protocolos de seguridad, las mejores prácticas y cómo evitar errores comunes. Esto reduce los riesgos, los tiempos de inactividad y contribuye al logro exitoso de nuestros objetivos.</p>
                    <h5 style="font-style: italic;">Empoderamiento y Moral Elevada</h5>
                    <p style="font-family: Helvetica;">El conocimiento empodera a nuestros equipos. Un personal capacitado se siente más confiado y motivado para abordar desafíos y encontrar soluciones. Además, la inversión en su desarrollo profesional muestra nuestro compromiso con su crecimiento y bienestar, lo que contribuye a una moral elevada y a una mayor retención del personal.</p>
                    <h5 style="font-style: italic;">Resultados Tangibles para la Comunidad</h5>
                    <p style="font-family: Helvetica;">Un personal capacitado se traduce en operaciones más eficientes, seguras y efectivas. Esto tiene un impacto directo en la comunidad que servimos. Calles más limpias, espacios públicos mejor mantenidos y servicios más confiables son resultados tangibles que derivan de un equipo capacitado y comprometido.</p>
                    <h4 style="font-style: italic;">Compromiso Continuo con la Capacitación</h4>
                    <p style="font-family: Helvetica;">La capacitación no es un evento único, sino un proceso continuo. A medida que implementamos este sistema de trabajo y enfrentamos nuevos desafíos, el programa de capacitación evolucionará para satisfacer las necesidades cambiantes. El compromiso con la capacitación es un compromiso con la mejora constante y el éxito sostenible.</p>
                    <p style="font-family: Helvetica;">En conclusión, el programa de capacitación es el puente que une el potencial humano con el logro de nuestros objetivos. Como parte integral de este proyecto, es necesario comprometemos a invertir en el desarrollo de nuestro personal y a empoderarlos para llevar a cabo sus funciones de manera sobresaliente. </p>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
      </div>
  
    <br/>
  </main>
  <footer>
    <p class="pie-pag text-center" style="font-style: italic">© Derechos reservados - <img src="/static/imagenes/logonew-app-black.jpeg" style="border-radius: 100%; width:2%; height:2%;" alt="logo"><a href="/perfil" class="perfil" style="text-decoration: none;">Desarrollador Sarmientino</a> 2023.</p>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
  </script>
</body>

</html>