<!doctype html>
<html lang="es">

<head>
  <title>Estudio Económico En Sarmiento | Encuesta local</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:image" content="https://www.desarrolladorsarmientino.com/static/imagenes/logonew-app-black.jpeg">
  <meta property="og:title" content="Estudio Económico en Sarmiento">
  <meta property="og:description" content="Encuesta web">
  <meta property="og:url" content="http://www.desarrolladorsarmientino.com/estudio">
  <meta property="og:type" content="website">
  <meta name="robots" content="index, follow">
  <link rel="website icon" type="png" href="/static/imagenes/logonew-app.png">
  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body class="body" style="background-color: rgba(235, 242, 243, 0.77); color: rgb(77, 77, 77);">  
    <br/>    
         <div class="container question py-3">
          <h1 class="text-center" style="font-style: italic;">¡Bienvenidos al primer estudio económico en Sarmiento!</h1>
            <div class="row py-3">
              <div class="col-md-1"></div>
              <div class="col-md-10"> 
                <p style="font-family: Helvetica;"><strong>ATENCIÓN:</strong> Este estudio puede generar datos e información muy importantes para la comunidad. Por favor, sé responsable al contestar las preguntas que se te realizarán.</p>

                <p style="font-family: Helvetica;"><svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(49, 49, 132);" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
                </svg> Los resultados de la encuesta se Publicarán en tiempo Real o en su totalidad, dependiendo el nivel de participación de la comunidad en el estudio.</p>
                  <p style="font-family: Helvetica;"><svg xmlns="http://www.w3.org/2000/svg" style="color: green;" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                  </svg> Una vez que hayas seleccionado todas las respuestas, haz clic en el botón 'Enviar Respuestas' que se encuentra al final de la página.</p>
          
                <p style="font-family: Helvetica;">Sin más que decir.. Adelante 😀</p>
              </div>
              <div class="col-md-1"></div>
            </div>
         </div>
         <br/>
        <div class="container estudio">

          <div class="row">
           <div class="col-md-1"></div>

           <div class="col-md-10 shadow-lg" style="background-color: white;">
              {% with messages = get_flashed_messages() %}

              {% if messages %}    
              {% for message in messages %}    
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>        
                      {{ message }}
                </div>    
              {% endfor %}
              {% endif %}
        
              {% endwith %} 
              <form action= "{{ url_for('question.guardar_encuesta') }}" method= "POST">
                <p class="fw-bold">1-¿Que edad tienes?</p>
                  <div class="form-edad mb-2">
                    <input class="form-check-input" type="radio" name="edad" value="Entre 16 y 18 años"/>
                    <label class="form-check-label" for="Entre 16 y 18 años">
                      Entre 16 y 18 años
                    </label>
                  </div>
                  <div class="form-edad mb-2">                
                    <input class="form-check-input" type="radio" name="edad" value="Entre 18 y 24 años"/>
                    <label class="form-check-label" for="Entre 18 y 24 años">
                      Entre 18 y 24 años
                    </label>
                  </div>
                  <div class="form-edad mb-2">                
                    <input class="form-check-input" type="radio" name="edad" value="Entre 24 y 35 años"/>
                    <label class="form-check-label"  for="Entre 24 y 35 años">
                      Entre 24 y 35 años
                    </label> 
                  </div>
                  <div class="form-edad mb-2">                  
                    <input class="form-check-input" type="radio" name="edad" value="Entre 35 y 45 años"/>
                    <label class="form-check-label" for="Entre 35 y 45 años">
                      Entre 35 y 45 Años
                    </label>
                  </div>
                  <div class="form-edad mb-2">
                    <input class="form-check-input" type="radio" name="edad" value="Entre 45 y 55 años"/>
                    <label class="form-check-label" for="Entre 45 y 55 años">
                      Entre 45 y 55 años
                    </label>
                  </div>   
                  <div class="form-edad mb-2">
                    <input class="form-check-input" type="radio" name="edad" value="+ 60 años"/>
                    <label class="form-check-label" for="+ 60 años">
                      + 60 años
                    </label>
                  </div> 

                  <p class="fw-bold">2-¿Cual es tu profesión u ocupación?</p>
                  <div class="form-profesion mb-2">
                    <input class="form-check-input" type="radio" name="profesion" value="Desempleado"/>
                    <label class="form-check-label" for="Desempleado">
                      Desempleado
                    </label>
                  </div>
                  <div class="form-profesion mb-2">
                    <input class="form-check-input" type="radio" name="profesion" value="Trabajador independiente"/>
                    <label class="form-check-label" for="Trabajador independiente">
                      Trabajador independiente
                    </label>
                  </div>
                  <div class="form-profesion mb-2">
                    <input class="form-check-input" type="radio" name="profesion" value=" Trabajador en relación de dependencia"/>
                    <label class="form-check-label" for="Trabajador en relación de dependencia">
                      Trabajador en relación de dependencia
                    </label>
                  </div>
                  <div class="form-profesion mb-2">
                    <input class="form-check-input" type="radio" name="profesion" value="Estudiante"/>
                    <label class="form-check-label" for="Estudiante">
                      Estudiante
                    </label>
                  </div>
                  <div class="form-profesion mb-2">
                    <input class="form-check-input" type="radio" name="profesion" value="Empleado público"/>
                    <label class="form-check-label" for="Empleado público">
                      Empleado publico
                    </label>
                  </div>
              
                  <p class="fw-bold">3-¿Cual es el nivel educativo que has alcanzado?</p>
                  <div class="form-inst mb-2">
                    <input class="form-check-input" type="radio" name="inst" value="Primario"/>
                    <label class="form-check-label" for="Primario">
                      Primario
                    </label>
                  </div>
                  <div class="form-inst mb-2">
                    <input class="form-check-input" type="radio" name="inst" value="Primario secundario"/>
                    <label class="form-check-label" for="Primario secundario">
                      Primario - Secundario
                    </label>
                  </div>
                  <div class="form-inst mb-2">
                    <input class="form-check-input" type="radio" name="inst" value="Primario secundario terciario"/>
                    <label class="form-check-label" for="Primario secundario terciario">
                      Primario - secundario - terciario
                    </label>
                  </div>
                  <div class="form-inst mb-2">
                    <input class="form-check-input" type="radio" name="inst" value="Primario incompleto"/>
                    <label class="form-check-label" for="Primario incompleto">
                      Primario incompleto
                    </label>
                  </div>
                  <div class="form-inst mb-2">
                    <input class="form-check-input" type="radio" name="inst" value="Ninguno de los anteriores"/>
                    <label class="form-check-label" for="Ninguno de los anteriores">
                      Ninguno de los anteriores 
                    </label>
                  </div>
                
                  <p class="fw-bold">4-¿Cuál es la probabilidad de que se quede a vivir en Sarmiento?</p>
                  <div class="form-residencia mb-2">
                    <input class="form-check-input" type="radio" name="residencia" value="Muy probable"/>
                    <label class="form-check-label" for="Muy probable">
                      Muy probable
                    </label>
                  </div>
                  <div class="form-residencia mb-2">
                    <input class="form-check-input" type="radio" name="residencia" value="Probable"/>
                    <label class="form-check-label" for="Probable">
                      Probable
                    </label>
                  </div>
                  <div class="form-residencia mb-2">
                    <input class="form-check-input" type="radio" name="residencia" value="Lo pensaría"/>
                    <label class="form-check-label" for="Lo pensaría">
                      Lo pensaría
                    </label>
                  </div>
                  <div class="form-residencia mb-2">
                    <input class="form-check-input" type="radio" name="residencia" value="Improbable"/>
                    <label class="form-check-label" for="Improbable">
                      Improbable
                    </label>
                  </div>
                  <div class="form-residencia mb-2">
                    <input class="form-check-input" type="radio" name="residencia" value="Viviré en otro lugar"/>
                    <label class="form-check-label" for="Viviré en otro lugar">
                      Viviré en otro Lugar
                    </label>
                  </div>
              
                  <p class="fw-bold">5-¿Consideras necesario para el crecimiento económico de Sarmiento la existencia de fuentes de trabajo en la localidad?</p>
                  <div class="form-trabajo mb-2">
                    <input class="form-check-input" type="radio" name="trabajo" value="Es muy necesario"/>
                    <label class="form-check-label" for="Es muy necesario">
                      Es muy necesario
                    </label>
                  </div>
                  <div class="form-trabajo mb-2">
                    <input class="form-check-input" type="radio" name="trabajo" value="No es tan necesario"/>
                    <label class="form-check-label" for="No es tan necesario">
                      No es tan necesario
                    </label>
                  </div>
                  <div class="form-trabajo mb-2">
                    <input class="form-check-input" type="radio" name="trabajo" value="Prefiero viajar a trabajar"/>
                    <label class="form-check-label" for="Prefiero viajar a trabajar">
                      Prefiero viajar a trabajar 
                    </label>
                  </div>
                  <div class="form-trabajo mb-2">
                    <input class="form-check-input" type="radio" name="trabajo" value="Existen fuentes de trabajo"/>
                    <label class="form-check-label" for="Existen fuentes de trabajo">
                      Existen fuentes de trabajo
                    </label>
                  </div>
                  <div class="form-trabajo mb-2">
                    <input class="form-check-input" type="radio" name="trabajo" value="No existen fuentes de trabajo"/>
                    <label class="form-check-label" for="No existen fuentes de trabajo">
                      No existen fuentes de trabajo
                    </label>
                  </div>
                
                  <p class="fw-bold">6-¿Cómo calificarías el servicio que ofrecen los comercios locales?</p>
                  <div class="form-comercios mb-2">
                    <input class="form-check-input" type="radio" name="comercios" value="Excelentes"/>
                    <label class="form-check-label" for="Excelentes">
                      Excelentes
                    </label>
                  </div>
                  <div class="form-comercios mb-2">
                    <input class="form-check-input" type="radio" name="comercios" value="Muy bueno"/>
                    <label class="form-check-label" for="Muy bueno">
                      Muy bueno
                    </label>
                  </div>
                  <div class="form-comercios mb-2">
                    <input class="form-check-input" type="radio" name="comercios" value="No tan bueno"/>
                    <label class="form-check-label" for="No tan bueno">
                      No tan bueno
                    </label>
                  </div>
                  <div class="form-comercios mb-2">
                    <input class="form-check-input" type="radio" name="comercios" value="Los precios son muy altos"/>
                    <label class="form-check-label" for="Los precios son muy altos">
                      Los precios son muy altos
                    </label>
                  </div>
                  <div class="form-comercios mb-2">
                    <input class="form-check-input" type="radio" name="comercios" value="Compro en otro lugar" />
                    <label class="form-check-label" for="Compro en otro lugar">
                      Compro en otro lugar
                    </label>
                  </div>
              
                  <p class="fw-bold">7-¿Cuál es su ingreso mensual aproximado?</p>
                  <div class="form-salario mb-2">
                    <input class="form-check-input" type="radio" name="salario" value="Entre 10.000 y 30.000"/>
                    <label class="form-check-label" for="Entre 10.000 y 30.000">
                      Entre 10.000 y 30.000 
                    </label>
                  </div>
                  <div class="form-salario mb-2">
                    <input class="form-check-input" type="radio" name="salario" value="Entre 30.000 y 100.000"/>
                    <label class="form-check-label" for="Entre 30.000 y 100.000">
                      Entre 30.000 y 100.000
                    </label>
                  </div>
                  <div class="form-salario mb-2">
                    <input class="form-check-input" type="radio" name="salario" value="Entre 100.000 y 400.000"/>
                    <label class="form-check-label" for="Entre 100.000 y 400.000">
                      Entre 100.000 y 400.000
                    </label>
                  </div>
                  <div class="form-salario mb-2">
                    <input class="form-check-input" type="radio" name="salario" value="Más de 600.000"/>
                    <label class="form-check-label" for="Más de 600.000">
                      Más de 600.000
                    </label>
                  </div>
                  <div class="form-salario mb-2">
                    <input class="form-check-input" type="radio" name="salario" value="No cuento con salario mensual"/>
                    <label class="form-check-label" for="No cuento con salario mensual">
                      No cuento con un salario mensual
                    </label>
                  </div>
                
                  <p class="fw-bold">8-¿Ahorras parte de tu salario? En caso afirmativo, ¿podrías indicar el porcentaje?</p>
                  <div class="form-ahorro mb-2">
                    <input class="form-check-input" type="radio" name="ahorro" value="Entre 10 y 15 por ciento"/>
                    <label class="form-check-label" for="Entre 10 y 15 por ciento">
                      Ahorro entre 10% y 15%
                    </label>
                  </div>
                  <div class="form-ahorro mb-2">
                    <input class="form-check-input" type="radio" name="ahorro" value="Entre 15 y 30 por ciento"/>
                    <label class="form-check-label" for="Entre 15 y 30 por ciento">
                      Ahorro entre 15% y 30%
                    </label>
                  </div>
                  <div class="form-ahorro mb-2">
                    <input class="form-check-input" type="radio" name="ahorro" value="Más del 30 por ciento"/>
                    <label class="form-check-label" for="Más del 30 por ciento">
                      Ahorro más del 30%
                    </label>
                  </div>
                  <div class="form-ahorro mb-2">
                    <input class="form-check-input" type="radio" name="ahorro" value="Nunca he ahorrado"/>
                    <label class="form-check-label" for="Nunca he ahorrado">
                      Nunca he ahorrado
                    </label>
                  </div>
                  <div class="form-ahorro mb-2">
                    <input class="form-check-input" type="radio" name="ahorro" value="No puedo ahorrar"/>
                    <label class="form-check-label" for="No puedo ahorrar">
                      No puedo ahorrar
                    </label>
                  </div>
                
                  <p class="fw-bold">9-¿Cuán eficiente crees que es el trabajo realizado por la cooperativa de servicios públicos y energía?</p>
                  <div class="form-coop mb-2">
                    <input class="form-check-input" type="radio" name="coop" value="Muy eficiente"/>
                    <label class="form-check-label" for="Muy eficiente">
                      Muy eficiente
                    </label>
                  </div>
                  <div class="form-coop mb-2">
                    <input class="form-check-input" type="radio" name="coop" value="Eficiente"/>
                    <label class="form-check-label" for="Eficiente">
                      Eficiente
                    </label>
                  </div>
                  <div class="form-coop mb-2">
                    <input class="form-check-input" type="radio" name="coop" value="Ineficiente"/>
                    <label class="form-check-label" for="Ineficiente">
                      Ineficiente
                    </label>
                  </div>
                  <div class="form-coop mb-2">
                    <input class="form-check-input" type="radio" name="coop" value="Muy ineficiente"/>
                    <label class="form-check-label" for="Muy ineficiente">
                      Muy ineficiente
                    </label>
                  </div>
                
                  <p class="fw-bold">10-¿Cómo calificarías la atención del dispensario municipal?</p>
                  <div class="form-dispensario mb-2">
                    <input class="form-check-input" type="radio" name="dispensario" value="Excelente atención"/>
                    <label class="form-check-label" for="Excelente atención">
                      Excelente atención
                    </label>
                  </div>
                  <div class="form-dispensario mb-2">
                    <input class="form-check-input" type="radio" name="dispensario" value="Muy buena atención"/>
                    <label class="form-check-label" for="Muy buena atención">
                      Muy buena atención
                    </label>
                  </div>
                  <div class="form-dispensario mb-2">
                    <input class="form-check-input" type="radio" name="dispensario" value="Falta ampliar los servicios"/>
                    <label class="form-check-label" for="Falta ampliar los servicios">
                      Falta ampliar los servicios ej: Profesionales, Diagnósticos por imagen, etc.
                    </label>
                  </div>
                  <div class="form-dispensario mb-2">
                    <input class="form-check-input" type="radio" name="dispensario" value="Mala atención"/>
                    <label class="form-check-label" for="Mala atención">
                      Mala atención
                    </label>
                  </div>
          
                  <p class="fw-bold">11-¿Consideras que el Centro Cultural Municipal se utiliza de manera adecuada?</p>
                  <div class="form-cim mb-2">
                    <input class="form-check-input" type="radio" name="cim" value="Se utiliza muy bien"/>
                    <label class="form-check-label" for="se utiliza muy bien">
                      Se utiliza muy bien
                    </label>
                  </div>
                  <div class="form-cim mb-2">
                    <input class="form-check-input" type="radio" name="cim" value="Falta mejorar la utilidad"/>
                    <label class="form-check-label" for="Falta mejorar la utilidad">
                      Falta mejorar la utilidad ej:Capacitaciones, Especialidades, Cursos Académicos, etc.
                    </label>
                  </div>
                  <div class="form-cim mb-2">
                    <input class="form-check-input" type="radio" name="cim" value="Se utiliza de forma inadecuada"/>
                    <label class="form-check-label" for="Se utiliza de forma inadecuada">
                      Se utiliza de forma inadecuada
                    </label>
                  </div>
                  <div class="form-cim mb-2">
                    <input class="form-check-input" type="radio" name="cim" value="No lo se"/>
                    <label class="form-check-label" for="No lo se">
                      No lo sé
                    </label>
                  </div>
            
                  <p class="fw-bold">12-¿Estás satisfecho con la administración municipal actual?</p>
                  <div class="form-municipal mb-2">
                    <input class="form-check-input" type="radio" name="municipalidad" value="Muy satisfecho"/>
                    <label class="form-check-label" for="Muy satisfecho">
                      Muy satisfecho
                    </label>
                  </div>
                  <div class="form-municipal mb-2">
                    <input class="form-check-input" type="radio" name="municipalidad" value="Satisfecho"/>
                    <label class="form-check-label" for="Satisfecho">
                      Satisfecho
                    </label>
                  </div>
                  <div class="form-municipal mb-2">
                    <input class="form-check-input" type="radio" name="municipalidad" value="Satisfecho, aunque deberían mejorar"/>
                    <label class="form-check-label" for="Satisfecho, aunque deberían mejorar">
                      Satisfecho, aunque deberían mejorar
                    </label>
                  </div>
                  <div class="form-municipal mb-2">
                    <input class="form-check-input" type="radio" name="municipalidad" value="Insatisfecho"/>
                    <label class="form-check-label" for="Insatisfecho">
                      Insatisfecho
                    </label>
                  </div>
                  <div class="form-municipal mb-2">
                    <input class="form-check-input" type="radio" name="municipalidad" value="Muy insatisfecho"/>
                    <label class="form-check-label" for="Muy insatisfecho">
                      Muy Insatisfecho
                    </label>
                  </div>
            
                  <p class="fw-bold">13-¿Opinas que el municipio debería proporcionar información sobre el estado de los recursos económicos?</p>
                  <div class="form-muni mb-2">
                    <input class="form-check-input" type="radio" name="muni" value="Es muy necesario"/>
                    <label class="form-check-label" for="Es muy necesario">
                      Es muy necesario
                    </label>
                  </div>
                  <div class="form-muni mb-2">
                    <input class="form-check-input" type="radio" name="muni" value="Es necesario"/>
                    <label class="form-check-label" for="Es necesario">
                      Es necesario
                    </label>
                  </div>
                  <div class="form-muni mb-2">
                    <input class="form-check-input" type="radio" name="muni" value="No lo creo necesario"/>
                    <label class="form-check-label" for="No lo creo necesario">
                      No lo creo necesario
                    </label>
                  </div>
                  <div class="form-muni mb-2">
                    <input class="form-check-input" type="radio" name="muni" value="No se para que me seria util"/>
                    <label class="form-check-label" for="No se para que me seria util">
                      No se para que sería util
                    </label>
                  </div>
                
                  <p class="fw-bold">14-¿Consideras que las instituciones educativas funcionan en condiciones adecuadas?</p>
                  <div class="form-educar mb-2">
                    <input class="form-check-input" type="radio" name="educar" value="unciona excelentes"/>
                    <label class="form-check-label" for="Funciona excelentes">
                      Funcionan excelentes
                    </label>
                  </div>
                  <div class="form-educar mb-2">
                    <input class="form-check-input" type="radio" name="educar" value="Funcionan muy bien"/>
                    <label class="form-check-label" for="Funcionan muy bien">
                      Funcionan muy bien
                    </label>
                  </div>
                  <div class="form-educar mb-2">
                    <input class="form-check-input" type="radio" name="educar" value="Funcionan bien, Aunque necesitan mejorar los recursos"/>
                    <label class="form-check-label" for="Funcionan bien, Aunque necesitan mejorar los recursos">
                      Funcionan bien, Aunque necesitan mejorar los recursos
                    </label>
                  </div>
                  <div class="form-educar mb-2">
                    <input class="form-check-input" type="radio" name="educar" value="Funcionan mal"/>
                    <label class="form-check-label" for="Funcionan mal">
                      Funcionan mal
                    </label>
                  </div>
                
                  <p class="fw-bold">15-Si fueras parte de la administración pública, ¿qué acciones tomarías?</p>
                  <div class="form-opinion mb-2">
                    <input class="form-check-input" type="radio" name="opinion" value="Mejoraría el sistema educativo"/>
                    <label class="form-check-label" for="Mejoraría el sistema educativo">
                    Mejoraría el sistema educativo
                    </label>
                  </div>
                  <div class="form-opinion mb-2">
                    <input class="form-check-input" type="radio" name="opinion" value="Mejoraría el sistema de salud"/>
                    <label class="form-check-label" for="Mejoraría el sistema de salud">
                      Mejoraría el sistema de salud
                    </label>
                  </div>
                  <div class="form-opinion mb-2">
                    <input class="form-check-input" type="radio" name="opinion" value="Trabajar en generar fuentes y oportunidades laborales"/>
                    <label class="form-check-label" for="Trabajar en generar fuentes y oportunidades laborales">
                      Trabajar en generar fuentes y oportunidades laborales
                    </label>
                  </div>
                  <div class="form-opinion mb-2">
                    <input class="form-check-input" type="radio" name="opinion" value=" Mejoraría El sistema de seguridad"/>
                    <label class="form-check-label" for=" Mejoraría El sistema de seguridad">
                      Mejoraría El sistema de seguridad
                    </label>
                  </div>
                  <div class="form-opinion mb-2">
                    <input class="form-check-input" type="radio" name="opinion" value="Haria todo lo anterior"/>
                    <label class="form-check-label" for="Haria todo lo anterior">
                      Haría todo lo anterior
                    </label>
                  </div>
                  <div class="form-opinion mb-2">
                    <input class="form-check-input" type="radio" name="opinion" value="Dejaria todo como esta"/>
                    <label class="form-check-label" for="Dejaria todo como esta">
                      Dejaría todo como esta
                    </label>
                  </div>
                  <div class="text-end mb-4 m-2">
                    <button type="submit" class="btn btn" style="font-style: empty-cells show; border-color: black; background-color:rgb(228, 233, 234);">Enviar Las Respuestas</button>
                  </div>      
              </form>
             
            </div>
      
            <div class="col-md-1"></div>
          </div>

        </div>  
        
<br/>
<footer class="pie py-5 text-center" style="font-style: italic"> © Derechos reservados - <img src="/static/imagenes/logonew-app-black.jpeg" style="border-radius: 100%; width:2%; height:2%;" alt="logo"><a href="/perfil" class="perfil" style="text-decoration: none;">Desarrollador Sarmientino</a> 2023.</footer>        
<br/>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>