<!doctype html>
<html lang="en">

<head>
  <title>Confirmar email</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Confirmación de correo">
  <meta property="og:description" content="Estudio Económico en Sarmiento">
  <meta property="og:image" content="https://www.desarrolladorsarmientino.com//static/imagenes/image-logo.jpeg">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.desarrolladorsarmientino.com/send_message">
  <link rel="website icon" type="png" href="/static/imagenes/logonew-app.png">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body class="cuerpo-welcome" style="background-color: rgb(255, 255, 255);">
  
<div class="container message py-5">
  <div class="d-flex justify-content-center">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
      <div class="card">
        <div class="card-header shadow-lg" style="font-style: italic; background-color: rgb(153, 153, 226);">         
          <h4 class="revisar" style="font-style: italic;">Revisa tu correo:</h4>
        </div>
        <div class="card-body">         
          <h3 class="mensaje text-center" style="font-family:Helvetica;">Se te ha Enviado un correo para confirmar tu email</h3>
          <p class="parrafo text-center" style="font-family:Helvetica;">Si no ves el mensaje en la bandeja de entrada, revisa la carpeta de spam. De lo contrario, verifica que hayas ingresado correctamente tus datos.</p>
        </div>        
      </div>
    </div>

    <div class="col-sm-2"></div>

  </div>
</div>

<div class="container botton">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <button type="button" class="btn btn-outline-light" style="background-color: rgb(153, 153, 226); color: black;">
        <a class="nav-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
          <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
        </svg> Volver a inicio</a>
      </button>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>
<br/>
<footer class="text-center" style="font-style: italic">© Derechos reservados - <a href="/perfil" class="perfil" style="text-decoration: none;">Desarrollador Sarmientino</a> 2023.</footer>
<br/>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>