{% extends 'auth/base.html' %}

{% block title %} Registarse {% endblock %}

{% block body %}      
  <div class="container">  
    <nav class="navbar navbar-expand-md shadow fixed-top" style="background-color: rgba(182, 195, 255, 0.918);">  
      <div class="container-fluid">  
        <button class="navbar-toggler" style="border-color:  rgb(210, 208, 208);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarNavDropdown">              
          <ul class="navbar-nav mt-lg-1">                
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(255, 255, 255); font-family:Arial" href="/"><< Inicio</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" style="color: rgb(255, 255, 255); font-family:Arial" href="/auth/login">Ingreso estudio</a>
            </li> 
            
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(255, 255, 255); font-family:Arial" href="/perfil">Perfil administrador</a>
            </li> 

          </ul>                               
        </div> 
      </div>                               
    </nav>
<br/> 

<div class="container-login py-5">
  <header class="text-center py-4" style="font-style: italic; color: rgb(87, 87, 87); font-family: sans-serif;" ><h2 >Por favor ingrese su correo electrónico:</h2></header>
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">            
      {% with messages = get_flashed_messages() %}

      {% if messages %}    
      {% for message in messages %}    
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>        
              {{ message }}
        </div>    
      {% endfor %}
      {% endif %}

      {% endwith %} 
    <div class="mb-3">
      <div class="card shadow-sm">                  
        <div class="card-header">
         Usuario
        </div>
        <div class="card-body py-4">                                  
          <form action="/auth/login" method="post">                           
            <label for="Username" class="form-label py-3">                                        
              <input type="email" class="form-control" name="Username" id="Username" aria-describedby="emailHelpId" placeholder="abc@mail.com" required>
            </label>
          </br >
            <button type="submit" class="btn btn-info border-dark mb-2 py-2 my-2">Ingresar</button>
          </form>          
        </div>                
             
        <div class="card-footer text-muted">
          <h4 class="m-2"> <strong>IMPORTANTE:</strong></h4>
          <p class="m-2" style="font-style: helvetica;">
            Este estudio es anónimo y ha sido elaborado solo para habitantes residentes de la localidad Sarmientina. El correo electrónico es utilizado para comprobar 
            que eres una persona real, y así poder validar la información recibida  en la 
            encuesta.</p>
          <p><strong>* En nombre de esta aplicación nunca se te pedirá documentación personal o informes sobre tu actividad financiera.</strong></p>
          <p><strong>* Jamas reveles información sensible a desconocidos o a sitios web de procedencia dudosa.</strong> </p>
        </div>

      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>

</div>
<footer class="pie py-5 text-center" style="font-style: italic"> © Derechos reservados - <a href="/perfil" class="perfil">Desarrollador Sarmientino</a> 2023.</footer>          
<br/>
{% endblock %}
