<!doctype html>
<html lang="es">

<head>
  <title>Educación digital</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Desarrollador Sarmientino">
  <meta property="og:description" content="Tecnologia de la información">
  <meta property="og:type" content="website">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


      
</head>

<body class="edu-body" style="background-color: #ffffff;">
    <nav class="navbar navbar-expand-md shadow-lg navbar-dark fixed-top" style="background-color: rgba(255, 166, 0, 0.808);">
        <div class="container-fluid">
          <button class="navbar-toggler" style="border-color: rgb(210, 208, 208);;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mt-lg-0">
                  <li class="nav-item">
                      <a class="nav-link"style="font-family:Arial" href="/"><< Inicio</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" style="font-family:Arial" href="educ">Educación digital</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" style="font-family:Arial" href="tecno">Info tecnología</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"style="font-family:Arial" href="hogar">Hogar</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link"style="font-family:Arial" href="perfil">Perfil administrador</a>
                  </li>
              </ul>
          </div>
        </div>
    </nav>

<br/>      
 
      <div class="container py-5">
        <div class="row">
          <div class="col-md-1"></div>

          <div class="col-md-6 py-0">
            <header class="text-start"><h1 style="font-style:italic;">Educación digital y remota</h1></header>
            <img src="/static/imagenes/education-world.png" width="450px" height="250px" alt="notebook">            
            <p class="text-start py-2" style="font-style: helvetica;">
              Después de la pandemia por COVID-19, el regreso a clases ya no fue el mismo y la forma de educar
               y aprender se vio afectada por la falta de presencialidad en las instituciones educativas. 
               Sin embargo, esto llevó a entender que la digitalización y la educación remota pueden tener 
               un rol más eficiente e incluso más productivo no solo para el alumno sino también para el docente 
               y profesionales en general.</p>
            <p class="text-start" style="font-style: helvetica;">
              Las instituciones deberán adoptar esta nueva forma de interactuar a través de los modelos de 
              aprendizaje que proponen, ya que las herramientas que ofrece <a href="https://aulicum.com/blog/transformacion-digital-en-educacion/" style="text-decoration: none; color: #f84002;" target="_blank" rel="noopener noreferrer">la digitalización educativa</a> y la alfabetización 
              tecnológica pueden contribuir a mejorar el sistema educativo de las instituciones y mejorar la curva 
              de aprendizaje de los alumnos y profesionales, permitiendo a los agentes que forman parte del sistema 
              educativo tener un mejor desempeño en cuanto a educación e infraestructura.</p>
          </div>

          

          <div class="col-md-4 text-start py-4"> 
            <br/>
            <p class="text-start py-2">
              <a href="https://www.placidoluna.com/"style="text-decoration:none;" target="_blank" rel="noopener noreferrer">
                <img src="/static/imagenes/logo-fg.png" style="width:350px; height:230px;" alt="logo-FG">
              </a>
            </p>          
          </div>

          <div class="col-md-1"></div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
          </div>

          <div class="col-md-6">
            <p class="text-center">
              <a href="/auth/login" target="_blank" rel="noopener noreferrer" type="button">
                <button class="btn btn btn-lg" type="button" style="border-color: #979797; font-style: helvetica; color: white; background-color: #ff7f17; border-top-color: rgb(170, 156, 156);">      
                    Ir al estudio económico en Sarmiento    
                </button>
              </a>
            </p>
          </div>
          <div class="col-md-3"></div>

        </div>
      </div>
<hr>
<br/>
      <div class="container-video text-center">
        <div class="row">
          <div class="col-md-1"></div>

          <div class="col-md-4 text-center py-5">
            <iframe width="360" height="215" src="https://www.youtube.com/embed/c4g2ouR6Upw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h6>*Importancia de la alfabetización y educación digital.</h6>
            <br/>
            <hr>
            <br/>
            <h3 class="text-center" style="font-style:italic;">Ser tutor en linea</h3>
              <p class="text-start" style="font-style: helvetica;">¡La enseñanza te apasiona!</p>
              <p class="text-start" style="font-style: helvetica;">
                Ser tutor de estudiantes en todo el mundo está al alcance de tus manos.
                Además de ser una manera practica y rentable de generar ingresos adicionales.
              </p>
              <p class="text-start" style="font-style: helvetica;">Aquí te dejo algunas alternativas para que puedas analizar e investigar mas en profundidad:</p>
              <ul class="text-start">
                <li><a href="https://www.learn4good.com/jobs/" style="text-decoration: none; color: #e64e4e;" target="_blank" rel="noopener noreferrer">learn4good</a></li>
                <li><a href="https://www.chegg.com/" style="text-decoration: none; color:#e64e4e;" target="_blank" rel="noopener noreferrer">chegg</a></li>
              </ul>            
            </p>
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-4 py-5">
            <h3 class="text-center" style="font-style:italic;">¿Como afectarán las IA la educación?</h3>
           <p class="text-start"  style="font-style: helvetica;">
            La IA está transformando la educación de varias maneras. Una de las formas en que la IA afecta a la educación es a través de 
            la recopilación y el análisis de datos que permiten conocer mejor el perfil de los estudiantes y sus necesidades individuales. 
            Esto facilita la creación de planes y actividades educativas eficientes e innovadoras que se adaptan a las necesidades de cada estudiante. 
            Además, <a href="https://blog.wearedrew.co/noticias/impacto-del-chat-gpt-en-la-industria-de-la-educacion" style="text-decoration: none; color: #f84002;" target="_blank" rel="noopener noreferrer">la IA también facilita la enseñanza</a> al permitir que los docentes automatizan tareas como la evaluación y la corrección de pruebas 
            y tareas. Esto les da más tiempo para enfocarse en otras tareas importantes, como interactuar con los estudiantes y personalizar el 
            aprendizaje para satisfacer sus necesidades individuales. 
            Otra forma en que la IA afecta a la educación es a través de la implementación de chatbots y asistentes virtuales que pueden responder 
            a preguntas comunes de los estudiantes y proporcionar orientación personalizada. Esto ayuda a los estudiantes a obtener información de 
            manera rápida y eficiente, lo que aumenta su satisfacción y mejora su experiencia de aprendizaje. 
            En general, la IA está revolucionando la educación y permitiendo que los docentes brinden una educación más personalizada y eficiente a 
            sus estudiantes. 
           </p>
          </div>
          <div class="col-md-2"></div>
    
        </div>
      </div>

  <br/>
  <hr>
 <br/>

  <div class="container-educar-tecno">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 py-2 text-center">
        <h3 class="text-center" style="font-style:italic;">Los docentes pueden mejorar la calidad educativa a través de las nuevas tecnologías de varias maneras: </h3>
        <p class="text-start"  style="font-style: helvetica;">
          <ul class="text-start">
            <li>
              Utilizando plataformas de aprendizaje en línea y <a href="https://blog.pearsonlatam.com/educacion-del-futuro/tecnologia-educativa-del-futuro-nuevas-tendencias" style="text-decoration: none; color: #f84002;" target="_blank" rel="noopener noreferrer">recursos educativos digitales</a> para complementar la enseñanza tradicional en el aula. 
            </li>
            <li>
              Implementando herramientas de análisis de datos que permiten conocer mejor el perfil de los estudiantes y sus necesidades individuales, lo que les permite adaptar la enseñanza a las necesidades de cada estudiante. 
            </li>
            <li>
              Integrando tecnologías interactivas, como juegos educativos y simulaciones, en su enseñanza para hacerla más atractiva y participativa para los estudiantes. 
            </li>
            <li>
              Fomentando la colaboración y el trabajo en equipo a través del uso de plataformas de colaboración en línea y herramientas de videoconferencia.
            </li>
            <li>
              Implementando tecnologías de inteligencia artificial, como chatbots y asistentes virtuales, para proporcionar orientación personalizada y responder a preguntas comunes de los estudiantes. 
            </li>
          </ul>
        </p>
        <br/>
        <img src="/static/imagenes/imagen-aula.png" width="550px" height="200px" alt="aula">
        <p class="text-start" style="font-style: helvetica;">La educación remota es una poderosa Herramienta complementaria para los docentes, alumnos, y toda la comunidad educativa.</p>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-4 text-center py-2">
        <h3 class="arte-tecno" style="font-style: italic;">El arte y la tecnología. ¡una relación impensada!</h3>
        <img src="/static/imagenes/arte-3.0.png" width="350px" height="300px" alt="imagen-ocaso">
        <h6>Imagen generada con inteligencia artificial <a href="https://www.craiyon.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Craiyon.com</a></h6>
        <p class="text-start" style="font-style: helvetica;">
          Las tecnologías emergentes ofrecen una gran cantidad de <a href="https://www.cesuma.mx/blog/la-importancia-de-la-tecnologia-en-el-arte.html" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #f84002;">herramientas que pueden ser 
            utilizadas por los artistas y estudiantes de arte</a> para mejorar sus proyectos y compartirlos de manera efectiva 
          a través de Internet. En este artículo, exploraremos algunas de las herramientas más comunes y cómo pueden ser 
          útiles tanto para los artistas como para los estudiantes de arte.
          <ul class="text-start">
            <li style="font-style: helvetica; color: rgba(0, 0, 0, 0.63);">
              Plataformas de aprendizaje en línea: Las plataformas de aprendizaje en línea, como <a href="https://www.coursera.org/" target="_blank" rel="noopener noreferrer" style="color: #f84002; text-decoration: none;">Coursera</a>, 
              <a href="https://join.skillshare.com/learn-es/?coupon=GOOGES1MESGRATIS&utm_source=Google&utm_medium=paidsearch&Croud_Search_Google_LA_AR_ES_BOF_Brand_OLD&utm_term=skillshare&matchtype=p&locale=es&matchtype=p&locale=es&utm_medium=ppc&utm_source=google_adwords&utm_term=skillshare&utm_campaign=Croud_Search_Google_LA_AR_ES_BOF_Brand_OLD&hsa_acc=8019392003&hsa_cam=17799122606&hsa_grp=141954120911&hsa_ad=617941876001&hsa_src=g&hsa_tgt=kwd-2110059533&hsa_kw=skillshare&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjw3a2iBhCFARIsAD4jQB0rcP7DXCcWE96bPLeR16wZtg4-kOoqyykF5pIop5ZFTwpcLWw_8s0aAjhaEALw_wcB" target="_blank" rel="noopener noreferrer" style="color: #f84002; text-decoration: none;">Skillshare</a> 
              y <a href="https://www.udemy.com/courses/design/?utm_source=adwords&utm_medium=udemyads&utm_campaign=Branded-Topic_la.ES_cc.LATAM&utm_content=deal4584&utm_term=_._ag_122876139243_._ad_604231009895_._kw_udemy%20cursos%20gratuitos_._de_c_._dm__._pl__._ti_kwd-333160228946_._li_20026_._pd__._&matchtype=b&gclid=Cj0KCQjw3a2iBhCFARIsAD4jQB1ligVXECWc74ZyMXXFeQAeEyjx8e541aLGotCU9iB0ALqlughAKtwaAn5qEALw_wcB" target="_blank" rel="noopener noreferrer" style="color: #f84002; text-decoration: none;">Udemy</a> , 
              ofrecen cursos en línea sobre diferentes disciplinas artísticas, desde diseño gráfico hasta fotografía y dibujo. 
              Los estudiantes pueden aprender a su propio ritmo, desde la comodidad de sus hogares, y obtener certificados que 
              demuestren su dominio del tema.
            </li>
            <li style="font-style: helvetica; color: rgba(0, 0, 0, 0.63);">
              Herramientas de diseño digital: Los programas de diseño digital, como Photoshop e Illustrator, pueden ser muy útiles 
              tanto para los artistas profesionales como para los estudiantes de arte que desean aprender habilidades de diseño gráfico. 
              Estos programas ofrecen una amplia gama de herramientas y recursos para la creación y edición de imágenes y pueden ser 
              utilizados para crear proyectos de arte digital, como ilustraciones, carteles y diseños de logotipos. 
            </li> 
          </ul>
        </p>
      </div>

      <div class="col-md-1"></div>
   </div>
  </div>
  <hr>
  <div class="container">  
    <h2 class="text-center" style="font-style:helvetica;">Plataformas de formación académica en linea más populares</h2>
      <div class="row py-5 shadow">
        <div class="col-md-3 text-center">
          <br/> 
          <a href="https://openclassrooms.com/en/"><img src="/static/imagenes/abonnement-openclassrooms-gratuit.jpeg" 
            style="border-radius: 0%; width:90%; height:80%;" alt="logo">
          </a>
          <h6 class="text-center">openclassrooms</h6>        
        </div>

        <div class="col-md-3 text-center">
          <br/>
          <a href="http://skillsbuild.org/es"><img src="/static/imagenes/ibm-skillsbuill.jpeg" 
            style="border-radius: 0%; width: 90%; height: 80%;" alt="logo">
          </a>
          <h6>IBM skillsbuild para estudiantes</h6>                   
        </div>
            
          <div class="col-md-3 text-center">
            <br/>
            <a href="https://www.coursera.org/"><img src="/static/imagenes/Coursera-education.jpeg" 
              style="border-radius: 0%; width:90%; height:80%;" alt="logo">            
            </a>
            <h6 class="text-center">Coursera-education</h6>              
          </div>

          <div class="col-md-3 text-center">
            <br/>
            <a href="https://cognitiveclass.ai/"><img src="/static/imagenes/cognitiveclass-ia.png" 
              style="border-radius: 0%; width:90%; height:80%;" alt="logo">            
            </a> 
            <h6 class="text-center">cognitiveclass-ia</h6>
          </div>                  
      </div>
      <br/>
      <p class="p-d" style="font-style:italic;">* La lista es increiblemente amplia. Pero estas plataformas sin duda te ayudarán a dar tus primeros pasos. Y tus preferencias se adaptarán rapidamente a lo que deseas aprender.</p>  
  </div>

  <footer class="pie-pag text-center" style="font-style: italic">© Derechos reservados - <a href="/perfil" class="perfil" style="text-decoration: none;">Desarrollador Sarmientino</a> 2023.</footer>
  <br/>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
  </script>
  
</body>

</html>