<!doctype html>
<html lang="es">

<head>
  <title>Hogar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body class="color" style="background-color:#ffffff;">  
  <nav class="navbar navbar-expand-md shadow-lg navbar-dark fixed-top" style="background-color: rgba(133, 213, 35, 0.911);">
    <div class="container-fluid">
      <button class="navbar-toggler" style="border-color: rgb(210, 208, 208);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse me-5" id="navbarNavDropdown">              
        <ul class="navbar-nav mt-lg-0">           
          <li class="nav-item">
            <a class="nav-link" style="font-family:Arial" href="/"><< Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="font-family:Arial" href="educ">Educación digital</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="font-family:Arial" href="tecno">Info tecnología</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="/hogar" role="button" aria-expanded="false">Hogar</a>
            <ul class="dropdown-menu" style="background-color: rgba(133, 213, 35, 0.911); border: white;">
              <li><a class="dropdown-item" style="text-decoration:none;" href="#tecno">tecnologías utilizadas</a></li>
              <li class="py-0"><a class="dropdown-item" style="text-decoration:none;" href="#document">Documentación</a></li>             
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" style="font-family:Arial" href="perfil">Perfil administrador</a>
          </li>   
        </ul>                               
      </div>           
    </div>      
  </nav> 
  <br/>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-2"></div>

      <div class="col-md-8">
        {% with messages = get_flashed_messages() %}

          {% if messages %}    
          {% for message in messages %}    
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>        
              {{ message }}
            </div>    
          {% endfor %}
          {% endif %}
  
        {% endwith %}
        <header class="text-center" style="font-style: italic;"><h1>Fundamento del proyecto</h1></header>
        <br>
        <p style="font-style: helvetica;">
          Cuando comencé a estudiar sobre <a href="https://economipedia.com/" style="text-decoration: none; color: green" target="_blank" rel="noopener noreferrer">económia</a> y el comportamiento de los mercados, con el tiempo intenté comprender, cuáles son los sectores de la sociedad que carecían de servicios. Servicios esenciales 
          y elementales para el crecimiento económico. Nací en una zona rural, y simpre me gusto el lugar en donde vivo. Algunas veces ese estado de bienestar ha sido distorsionado por la falta de recursos que carecen 
          particularmente las zonas rurales. Recursos de los cuales a falta de ellos, han impedido llegar los avances tecnológicos y los enormes recursos que nos oferce la internet.
    
        </p>
        <p style="font-style: helvetica;">
          A raiz de eso, decidí iniciar este proyecto con el proposito de mostrarle a la comunidad las herramientas, el conocimiento y los recursos practicamente ilimitados que nos ofrece hoy en dia la internet,
          y que están al alcance practicamente de todas las persona que cuentan con un dispositivo (smartphone, tablets, computadores, etc.) y una conexión a internet. además de mostrarles de que manera podemos 
          tomar beneficios de estas herramientas y recursos sin la necesidad de contar con grandes recursos financieros e incluso sin la necesidad de trasladarse de lugar en busca de mejorar los estudios, 
          el trabajo o el conocimiento y desarrollo personal.
        </p>
        
        <p style="font-style: helvetica;">
          El objetivo fundamental de esta aplicación es que esté en constante crecimiento y mejoramiento dinamico que pueda permitir brindar un servicio de gran utilidad a la comunidad. Convencido de ello 
          incursione en el mundo de la progrmación. Herramienta indispensable para acercar recursos a los lugares donde el <a href="https://mba3.com/blog/item/como-va-a-cambiar-la-tecnologia-para-el-2030.html" style="text-decoration: none; color: green;" target="_blank" rel="noopener noreferrer">crecimiento tecnologico</a> no ha llegado en las condiciones necesarias para que 
          la comuniadad pueda aprovechar todas la herramientas que ofrece el sector tecnológico. lo bueno de esto es que aun estamos a tiempo, y la tecnología solo mejora.
        </p>  
  
      </div>

      <div class="col-md-2"></div>
  </div>

<br/>
<hr>

<div class="container-tools-tech py-2">
  <section class="tech py-5" id="tecno">
    <h2 class=" text-center py-5" style="font-style: italic;">Tecnologías utilizadas en este proyecto</h2>
    <br/>
    <div class="row py-3">
      <div class="col-md-2"><a href="https://www.python.org/" target="_blank" rel="noopener noreferrer">
        <img src="/static/imagenes/python-logo.jpeg" width="150px" height="75px" alt="python-logo"></a>
      </div>

      <div class="col-md-2"><a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank" rel="noopener noreferrer">
        <img src="/static/imagenes/flask-logo.png" width="150px" height="75px" alt="python-logo"></a>
      </div>

      <div class="col-md-2"><a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">
        <img src="/static/imagenes/B5-logo.jpeg" width="150px" height="75px" alt="python-logo"></a>
      </div>

      <div class="col-md-2"><a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" rel="noopener noreferrer">
        <img src="/static/imagenes/html-logo.jpeg" width="150px" height="75px" alt="python-logo"></a>
      </div>

      <div class="col-md-2"><a href="https://dev.mysql.com/doc/connector-python/en/" target="_blank" rel="noopener noreferrer">
        <img src="/static/imagenes/py-mysql-logo.jpeg" width="150px" height="75px" alt="python-logo"></a>
      </div>
      <div class="col-md-2"><a href="https://www.apachefriends.org/es/index.html" target="_blank" rel="noopener noreferrer">
        <img src="/static/imagenes/xampp.jpeg" width="250px" height="75px" alt="python-logo"></a>
      </div>
    </div>
  </section>
</div>

<br/>

<div class="container-document"> 
  <section class="document py-0" id="document">
    <h2 class="py-5" style="font-style: italic;">Documentación</h2>
    <p style="font-style: helvetica;">Este es un documento dinámico que está en constante
      cambio, adaptándose a las nuevas condiciones que propone internet y las nuevas tecnologías.
      Consciente de que el mundo digital evoluciona a un ritmo vertiginoso, por lo que 
      es importante mantenernos actualizados y estar en sintonía con las tendencias tecnológicas.
    </p>
    <p style="font-style: helvetica;">
      Es por eso, que es importante mantener este proyecto actualizado y en constante evolución, 
      de modo que pueda ofrecer los mejores servicios y recursos a la comunidad, y ser una fuente confiable de información 
      y herramientas que permitan a las personas aprovechar al máximo las oportunidades 
      que brinda la tecnología. 
      <a href="https://1drv.ms/b/s!AvQgBbyyOlh1gY8DhGOPnZbO-6Dk0g?e=xYdC4B" style="text-decoration: none; color: rgb(31, 174, 145);" target="_blank" rel="noopener noreferrer">Click aqui para ver el documento</a>
    </p>
    
  </section>
</div>

<br/>
<hr>
<div class="container-end">
  <p class="py-5" style="font-style: helvetica;">
    Esta app está abierta a sugerencias y comentarios, y agradezco cualquier aporte que 
    permita mejorar y hacer crecer este proyecto. El objetivo de esta aplicación es seguir 
    trabajando para ofrecer una solución práctica y útil a las necesidades de la comunidad.
  </p>

</div>

<div class="container-comentario">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 shadow" style="background-color: rgb(243, 247, 246);">
     
      <h4 class="text-start" style="font-style: italic;">Aquí puedes dejar tus comentarios</h4>
      <br/>

      <form class="coment text-start" action="{{ url_for('guardar_comentarios') }}" method="post">
        <div class="mb-3">
          <h6 class="text-start" style="font-style: helvetica;">Nombre</h6>
          <label for="Name" class="form-label"></label>
            <input class="form-control" type="text" name="Name" id="Name" placeholder="Ejemplo: Renzo R" minlength="5" maxlength="45" required>          
        </div>
        <div class="mb-3 text-end">
          <h6 class="text-start" style="font-style: helvetica;">Comentarios</h6>
          <label for="Coment" class="form-label"></label>
            <textarea  class="form-control" name="Coment" placeholder="0/400" id="Coment" rows="6" minlength="20" maxlength="400" required></textarea>          
        </div>
        <div class="mb-3 text-end">
          <button class="btn btn" style="background-color: rgb(133, 213, 35, 0.993); color: rgb(255, 255, 255); border: gray;" type="submit">Enviar comentarios</button>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<br/>

    <footer class="text-center" style="font-style: italic">
      © Derechos reservados. Desarrollador Sarmientino 2023.
    </footer>

   
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
  </script>
</body>
