<!doctype html>
<html lang="es">

<head>
  <title>Tecnología</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body class="fondo" style="background-color: rgb(5, 5, 5); color: white;"> 
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgba(127, 102, 250, 0.699); color: aliceblue;">
      <div class="container-fluid">
        <button class="navbar-toggler" style="border-color: rgb(210, 208, 208);;" type="button" data-bs-toggle="collapse" data-bs-target="#tecno" aria-controls="tecno" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="tecno">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" style="font-family:Arial" href="/"><< Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="font-family:Arial" href="educ">Educación digital</a>             
                </li>

                <li class="nav-item">
                  <a class="nav-link active" style="font-family:Arial" href="tecno">Info tecnología</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link"style="font-family:Arial" href="hogar">Hogar</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" style="font-family:Arial" href="perfil">Perfil administrador</a>
                </li>                
            </ul>
        </div>
      </div>
    </nav>

<br/>

<div class="container-tech0 py-5">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-6 text-center">
      <h1 style="font-style:italic;">El poder de la tecnología</h1>
      <br/>
      <a href=" https://www.midjourney.com/home/?callbackUrl=%2Fapp%2F" style="text-decoration: none; color: #6fc0cb;" target="_blank" rel="noopener noreferrer">
        <img src="/static/imagenes/digital-world.png" width="380px" height="250px" alt="word-tecno">
        <h6>Fuente: www.istockphoto.com</h6>
      </a>
      <br/>
        <p class="text-start py-2" style="font-style: helvetica;">
          Durante toda la existencia de la humanidad, la tecnología ha sido un factor determinante no solo 
          para la vida en sí, sino también para la evolución de nuestra especie. 
          La tecnología es la disciplina que ha permitido a las civilizaciones subsistir y mejorar su calidad 
          de vida, y ha sido parte fundamental de la historia de la humanidad. La vida tal y como la conocemos 
          tiene un alto componente tecnológico, y es que la tecnología es como magia para el ser humano, ya que 
          <a href="https://www.plainconcepts.com/es/tendencias-tecnologicas-2023/" style="text-decoration: none; color: green;" target="_blank" rel="noopener noreferrer"> tiene la virtud de aplicarse prácticamente a todas las actividades que realizamos:</a>  deportes, recreación, 
          profesiones, finanzas, economía, salud, educación, etc.</p>
 
      <p class="text-start" style="font-style: helvetica;">
        En la actualidad nos encontramos en un punto en el que los avances tecnológicos y el surgimiento de nuevas 
        tecnologías están cambiando la forma en que interactuamos entre nosotros. Por ejemplo, el desarrollo personal,
        la educación, el trabajo, la salud y las finanzas están siendo transformados gracias a la digitalización. 
        Es un hecho que la era de la digitalización llegó para quedarse, y es nuestra responsabilidad incluir 
        la tecnología como parte fundamental de nuestras vidas. Ya lo has hecho tú!</p>
    </div>

    <div class="col-md-5 py-5">
      <p class="text-center py-5">
        <a href="https://www.placidoluna.com/" target="_blank" style="text-decoration: none; color: white;" rel="noopener noreferrer">
          <img src="/static/imagenes/logo-fg.png" width="350px" height="200px" alt="fgrafica">
        </a>
      </p>
      <hr>
      <br/>
      <p class="text-center py-">
        <a href="/auth/login">
          <button class="btn btn text-center border-white btn-lg" type="button" style="font-style: helvetica; color: white; background-color:rgb(12, 156, 125);">      
              Ir al estudio económico en Sarmiento    
          </button>
        </a>
      </p>
    </div>
  </div>
</div>

<br/>

  <div class="container-innova">
    <h3 class="text-center" style="font-style:italic;">La innovación tecnológica en dos imagenes</h3>
    <div class="row py-3">
      <div class="col-md-2"></div>
      <div class="col-md-4 text-center">      
          <img src="/static/imagenes/mano-fuego.png" width= "200px"  height="150px" alt="fuego-en-mano">          
            <p class="text-start py-3" style="font-style: helvetica;">La evidencia más temprana conocida de la manipulación del fuego por parte de los 
              humanos data de hace alrededor de 800,000 años.          
              <a href="https://www.commonlit.org/es/texts/la-importancia-del-fuego-en-la-evolucion-humana-cambios-en-el-cerebro" style="text-decoration: none; color: green;" target="_blank" rel="noopener noreferrer">El uso del fuego ha sido un hito importante en la evolución humana</a> , permitiendo a 
              los humanos cocinar alimentos, proporcionar calor y luz, y desarrollar herramientas más avanzadas. 
            </p>
      </div>

      <div class="col-md-4  text-center">
          <img src="/static/imagenes/mundoenmano.jpeg" width="200px"  height="150px" alt="cel-mano">
            <p class="text-start py-3" style="font-style: helvetica;">
              los smartphones han cambiado la forma en que las personas se relacionan con la tecnología y
              han ayudado a impulsar la innovación y el desarrollo de nuevas tecnologías.
              También han sido una herramienta importante <a href="https://www.itreseller.es/en-cifras/2022/11/el-mercado-mundial-de-telefonos-moviles-comenzara-a-crecer-en-2024" style="text-decoration: none; color: green;" target="_blank" rel="noopener noreferrer">en la evolución de la economía digital.</a>  
              Han creado nuevas formas de trabajo y emprendimiento, como aplicaciones móviles y servicios 
              en línea que permiten a las personas trabajar y ganar dinero desde cualquier lugar con 
              una conexión a Internet. 
            </p>
      </div>

      <div class="col-md-2"></div>
    </div>
  </div>

<br/>
<hr style="color: #0a69ae;">
<br/>

  <div class="container-tech2">
    <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-10 text-start">
        <h3 class="text-start" style="font-style:italic;">El rol de la tecnología en la actualidad</h3>
        <br/>
        <p class="text-start py-2" style="font-style: helvetica;">La tecnología ha tenido un impacto significativo en la economía actual de las personas. En primer lugar, <a href="https://www.trendtic.cl/2021/02/en-rescate-del-rol-social-de-la-tecnologia-y-su-aporte-en-la-sustentabilidad/" style="text-decoration: none; color: rgb(63, 29, 105);" target="_blank" rel="noopener noreferrer">la tecnología ha cambiado la forma en que las personas trabajan y se comunican</a> , lo que ha llevado a una mayor eficiencia en la producción y un aumento en la cantidad de empleos que se realizan de forma remota. 

          Además, la tecnología ha transformado la forma en que las personas compran y venden bienes y servicios, lo que ha llevado a un aumento en la cantidad de transacciones electrónicas y una disminución en el uso de efectivo. 
          
          La tecnología también ha permitido a las empresas recopilar y analizar grandes cantidades de datos, lo que les ha permitido mejorar sus estrategias de marketing y tomar decisiones más informadas sobre el desarrollo de productos y la inversión en innovación. 
          
          Sin embargo, la tecnología también ha llevado a la automatización de ciertos trabajos, lo que ha llevado a la pérdida de empleos para algunas personas. Además, el acceso desigual a la tecnología y la brecha digital pueden perpetuar la desigualdad económica y limitar las oportunidades de ciertas personas para acceder a trabajos y servicios en línea. </p>
      </div>
      <div class="col-md-1"></div> 
           
    </div>
  </div>

<br/>

<div class="container-tech3">
  <div class="row">
    <div class="col-md-1"></div>
    
    <div class="col-md-5 py-3 text-center"> 
      <br/>
      <img src="/static/imagenes/word-tech-digital.jpeg" width="350px" height="200px" alt="mundotecno">
      <p class="text-center py-2">La digitalización genera recursos de manera remota.</p>
      <br>
      <hr><br>
      
    </div>

    <div class="col-md-5">
      <h3 class="mercado" style="font-style:italic;">Tecnología en los mercados</h3>
      <img src="/static/imagenes/grafico.jpeg" width="500px" height="200px" alt="imagen-grafico de velas">
      <p class="text-start py-3" style="font-style: helvetica;">
        La inclusión de la tecnología en el mercado de activos digitales ha generado una revolución en la forma en que los inversores remotos pueden acceder a los mercados financieros. Gracias a la tecnología blockchain, los activos digitales como Bitcoin y Ethereum se han vuelto cada vez más populares, y se están convirtiendo en una forma más común de inversión. 
    
        En cuanto a los puestos de trabajo que se generan, la inclusión de la tecnología en este mercado ha dado lugar a nuevas oportunidades de trabajo en campos como la ingeniería de blockchain, el desarrollo de software de criptomonedas, la ciberseguridad y la analítica de datos. Además, la creciente demanda de inversores remotos ha impulsado la necesidad de profesionales con habilidades en finanzas, análisis de mercado y gestión de cartera, entre otros. 
        
        En resumen, la inclusión de <a href="https://www.forbesargentina.com/money/asi-estan-evolucionando-mercados-financieros-gracias-avance-tecnologia-n30168" style="text-decoration: none; color: rgb(63, 29, 105);" target="_blank" rel="noopener noreferrer"> la tecnología en el mercado</a> de activos digitales ha abierto nuevas oportunidades para inversores remotos y ha creado una demanda de habilidades y talentos específicos en áreas como la tecnología y las finanzas. 
      </p>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>

<br/>
<hr style="color: #0a69ae;">
<br/>

<div class="container-blockcadena">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 py-1 text-center">
      <h2  style="font-style:italic;">¿Que es la tecnología blockchain?</h2>
        <img src="static/imagenes/block-imagen.jpeg" width="400px" height="300px" alt="blockchain-imagen">
      <p class="text-start py-2" style="font-style: helvetica;">
        <a href="https://www.ibm.com/es-es/topics/blockchain" style="text-decoration: none; color: rgb(63, 29, 105);" target="_blank" rel="noopener noreferrer">La tecnología blockchain</a> es un tipo de registro digital que permite almacenar información de manera segura, 
        transparente y descentralizada, sin necesidad de intermediarios. En esencia, es una base de datos distribuida 
        en la que se registran transacciones o eventos, y cada bloque de información está enlazado con el anterior, 
        formando una cadena de bloques. 
      </p>
      <p class="text-start" style="font-style: helvetica;">
        La tecnología blockchain se popularizó gracias a su uso en las criptomonedas, como <a href="https://es.cointelegraph.com/bitcoin-for-beginners/what-is-bitcoin" style="text-decoration: none; color: orange;" target="_blank" rel="noopener noreferrer">Bitcoin</a> , Ethereum, y 
        muchas otras. En estos casos, se utiliza para registrar y validar transacciones de manera segura y 
        transparente, sin necesidad de un intermediario, como un banco. También se está utilizando en otros ámbitos, 
        como la gestión de la identidad digital, la trazabilidad de alimentos y productos, la gestión de derechos de 
        autor, y mucho más. 
      </p>
    </div>

    <div class="col-md-5 text-center py-5">
      <img src="/static/imagenes/estructura_blockchain.jpeg" width="300px" height="200px" alt=" blockchain-imagen">
      <h6 class="text-center"> <a href="https://www.midjourney.com/home/?callbackUrl=%2Fapp%2F" style="text-decoration: none; color: #6fc0cb;" target="_blank" rel="noopener noreferrer">Imagen creada con inteligencia-Artificial</a></h6>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>

<br/>

<div class="container-end">
  <div class="row">
    <div class="col md 3">
    </div>

    <div class="col-md-6">      
      <p class="text-center" style="font-style: helvetica;">* Los conceptos expresados son breves reseñas que te permitirán comprender el vinculo que podemos tener con distintas herramientas
        tecnológicas. Y te serán utiles para comenzar tu propia investigación. Descubre, en que lugares de tu vida, podrás incorporar las
        distintas tecnologías y generar beneficios individuales y/o en conjunto.
      </p>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>

<hr style="color: #0a69ae;">
<br/>



<footer class="text-center" style="font-style:italic">
  © Derechos reservados - Desarrollador Sarmientino 2023.
</footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
  </script>
</body>

</html>